// ================================================================
// Colors
// ================================================================
$c-black              : #000000;
$c-blog-title         : #333333;
$c-box-bg             : #F4F4F4;
$c-box-border         : #D2D6D5;
$c-box-border-hover   : #3C948B;

$c-header-bg          : #141414;
$c-header-bg          : #000000;

$c-footer-bg          : #202121;
$c-footer-text-color  : #888888;
$c-footer-link-border : #3C948B;

$c-green-links        : #3C948B;
$c-grey-background    : #E1E3E4;
$c-grey-title-border  : #333333;

$c-nav-link           : #888888;
$c-nav-link-bg        : #202121;

$c-section-border     : #D2D6D5;

$c-title-border       : #3C948B;

$c-white              : #FFFFFF;

// ================================================================
// Fonts
// ================================================================
$f-size-base : 14px;