// ================================================================
// Imports
// ================================================================
@import "reset.scss";
@import "../libs/bootstrap.scss";
@import "../libs/font-awesome.scss";
@import "variables.scss";
@import "mixins/mixins.scss";
@import "mixins/placeholders.scss";
@import "../libs/jquery.mmenu.scss";

// ================================================================
// Vars
// ================================================================
$header-height : 75px;
$footer-height : 310px;

// ================================================================
// Common
// ================================================================
html, body, .mm-page {
	height: 100%;
}

body {
	background: $c-grey-background;
	font-family: "Open Sans", sans-serif;
}

.page-wrapper {
	min-height: 100%;
	margin-bottom: -$footer-height;

	&:after {
		content: "";
		display: block;
	}
}

.footer,
.page-wrapper:after {
	// "push" must be the same height as footer
	height: $footer-height;
}

.content {
	margin-top: 125px;
}

.text-title {
	@extend %title-border;

	&-wrapper {
		margin-bottom: 50px;
		text-align: center;
	}
}

.mm-opened {
	.header {
		position: static;
	}

	.content {
		margin-top: 50px;
	}
}

@include bp(max-width, 991px) {
	.mm-menu {
		display: none;
	}
}

// ================================================================
// Header
// ================================================================
.header {
	background: $c-header-bg;
	color: $c-white;
	height: $header-height;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;

	&-inner {
		margin: 0 auto;
		width: 90%;
	}

	&-toggle-menu {
		background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADhJREFUeNpi/P//PwOtARMDHQBdLGFBYtMq3BiHT3DRPU4YR4NrNAmPJuHRJDyahEeT8Ii3BCDAAF0WBj5Er5idAAAAAElFTkSuQmCC') no-repeat center;
		border-radius: 50%;
		display: block;
		height: 40px;
		left: 10px;
		position: absolute;
		top: 16px;
		width: 40px;
	}

	&-nav,
	&-logo-link {
		float: left;
	}

	&-logo-link {
		margin: -2px 70px 0 0;
		width: 70px;
	}

	&-nav {
		margin: 0;
		max-height: $header-height;
		text-align: justify;
		width: 60%;

		&:after {
			content: "";
			display: inline-block;
			width: 100%;
		}
	}

	&-nav-item {
		display: inline-block;
		height: $header-height;
		vertical-align: top;
	}

	&-nav-link {
		color: $c-nav-link;
		display: block;
		height: 100%;
		padding: 27px 20px;
		-webkit-transition: all 0.3s ease;
				transition: all 0.3s ease;

		&:hover {
			background: $c-nav-link-bg;
			color: $c-white;
			text-decoration: none;
		}
	}

	&-contacts {
		float: right;
		padding: 10px 0 0;

		&-link {
			color: $c-nav-link;
			padding: 0 0 0 10px;
		}

		&-link:hover {
			color: $c-white;
			padding: 0 0 0 10px;
			text-decoration: none;
		}
	}

	&-contacts-item {
		.fa {
			color: $c-nav-link;
		}

		&:hover .fa {
			color: $c-white;
		}
	}

	&-container {
		height: 100%;
	}

	@include dev(mob) {
		&-logo-link {
			bottom: 0;
			left: 0;
			margin: auto;
			position: absolute;
			right: 0;
			top: 0;
		}
	}

	@include bp(max-width, 991px) {
		&-logo {
			float: right;
			left: 50%;
			margin-left: -95px;
			position: absolute;
		}

		&-nav {
			display: none;
		}
	}

	@include bp(min-width, 992px) {
		&-toggle-menu {
			display: none;
		}
	}
}

// ================================================================
// Footer
// ================================================================
.footer {
	background: $c-footer-bg;
	color: $c-footer-text-color;

	&-item-title {
		border-bottom: 1px solid $c-grey-title-border;
		padding: 0 0 20px;
	}

	&-link {
		@extend %list-item-circle;
		border-bottom: 1px solid transparent;
		color: $c-green-links;
		display: inline-block;
		position: relative;

		&:after {
			@include trans;
			background: $c-green-links;
			bottom: 0;
			content: "";
			height: 1px;
			left: 0;
			position: absolute;
			width: 0;
		}

		&:hover {
			color: $c-green-links;
			text-decoration: none;
		}

		&:hover:after {
			width: 100%;
		}

		&.active {

		}
	}

	&-inner {
		border-bottom: 1px solid $c-grey-title-border;
		padding: 15px 0;
	}

	&-copyright {
		padding: 20px 0;
	}
}

// ================================================================
// Skills section
// ================================================================
.skills {
	&-section {
		@extend %section-border;
	}

	&-item {
		@extend %box-grey;
	}

	&-item-title {
		@extend %box-title;
	}

	&-list-item {
		@extend %list-item-circle;
	}

	@include dev(mob) {
		&-item {
			margin: 0 auto 35px;
			max-width: 320px;
		}
	}
}

// ================================================================
// Speech section
// ================================================================
.speech {
	&-section {
		@extend %section-border;
	}

	&-img-wrapper {
		float: left;
		margin: 0 25px 10px 0;
	}

	&-title {
		font-weight: bold;
		margin-top: 0;
	}

	&-item {
		margin-bottom: 40px;
	}

	&-text {
		line-height: 160%;
	}

	@include dev(pc) {
		.col-md-6:last-child .speech-item,
		.col-md-6:nth-last-child(2) .speech-item {
			margin-bottom: 0;
		}
	}
}

// ================================================================
// Infographic section
// ================================================================
.infographic {
	&-section {
		@extend %section-border;
	}
}

// ================================================================
// Infographic section
// ================================================================
.prices {
	&-section {
		@extend %section-border;
	}

	&-img-wrapper {
		float: left;
		margin: 0 25px 10px 0;
	}
}

// ================================================================
// Portfolio section
// ================================================================
.portfolio {
	&-section {
		@extend %section-border;
	}

	&-item {
		@extend %box-transparent;
		min-height: 364px;
		max-width: 290px;
	}

	&-item-title {
		@extend %box-title;
	}

	&-img-wrapper {
		margin: 0 0 10px;
	}

	&-list-item {
		@extend %list-item-circle;
	}
}