// ================================================================
// Imports
// ================================================================
@import "../common/variables.scss";
@import "../common/mixins/mixins.scss";
@import "../common/mixins/placeholders.scss";

// ================================================================
// Vars
// ================================================================

// ================================================================
// Blog page
// ================================================================
[id^="ymaps"] {
	min-height: 400px;
}

.blog {
	&-item {
		border-bottom: 1px solid $c-section-border;
		margin-bottom: 45px;
		padding-bottom: 45px;

		&-link {
			@extend %link-green;
			display: inline-block;
			color: $c-blog-title;
			font-size: $f-size-base + 10;
			margin-bottom: 20px;
		}

		&-text {
			line-height: 170%;
			margin-bottom: 20px;
		}

		&-date,
		&-comments {
			margin-right: 10px;
			padding: 0 5px;
		}

		&-btn-more {
			float: right;
		}
	}
}

.sidebar {
	&-tags,
	&-article {
		@extend %box-transparent;
		@include trans;
		margin: 0 auto 50px;

		&:hover {
			border-color: $c-box-border-hover;
		}

		&-title {
			margin-top: 0;
		}
	}
}
