// ================================================================
// Imports
// ================================================================
@import "../common/variables.scss";
@import "../common/mixins/mixins.scss";
@import "../common/mixins/placeholders.scss";

// ================================================================
// Vars
// ================================================================

// ================================================================
// Blog page
// ================================================================
[id^="ymaps"] {
	min-height: 400px;
}

.blog {
	&-item {
		border-bottom: 1px solid $c-section-border;
		margin-bottom: 45px;
		padding-bottom: 45px;

		&-link {
			@extend %link-green;
			display: inline-block;
			color: $c-blog-title;
			font-size: $f-size-base + 8;
			margin-bottom: 20px;
		}

		&-text {
			line-height: 170%;
			margin-bottom: 20px;
		}

		&-date,
		&-comments {
			margin-right: 10px;
			padding: 0 5px;
		}

		&-btn-more {
			float: right;
		}
	}

	@include dev(mob) {
		&-item-btn-more {
			display: block;
			float: none;
			margin: 25px auto 0;
			max-width: 200px;
		}
	}
}

.sidebar {
	&-tags,
	&-article {
		@extend %box-transparent;
		margin: 0 0 20px;

		&:hover {
			border-color: $c-box-border-hover;
		}

		&-title {
			margin-top: 0;
		}
	}

	@include bp(min-width, 768px) {
		&-tags,
		&-article {
			margin: 0 auto 40px;
		}
	}
}

.blog-inner {
	&-title {
		margin-bottom: 25px;
	}

	&-subtitle {
		font-weight: bold;
		margin: 35px 0 20px;
	}

	&-tags {
		margin: 20px 0;
	}

	&-tags-item {
		display: inline-block;
	}

	.img-responsive {
		margin-bottom: 20px;
	}
}

.share-widget {
	margin: 20px auto;
}
