// ================================================================
// Imports
// ================================================================
@import "../libs/jquery.fancybox.scss";
@import "../common/variables.scss";
@import "../common/mixins/mixins.scss";
@import "../common/mixins/placeholders.scss";

// ================================================================
// Vars
// ================================================================

// ================================================================
// Contacts page
// ================================================================
[id^="ymaps"] {
	min-height: 400px;
}

.contacts {
	&-map {
		margin-bottom: 15px;
	}

	&-phones {
		font-size: $f-size-base + 6;

		p {
			font-size: $f-size-base + 2;
		}
	}

	@include bp(min-width, 1200px) {
		&-phones {
			float: right;
		}
	}
}

.office {
	@extend %section-border;

	&-item {
		@extend %box-grey;
	}

	&-item-title {
		font-weight: bold;
		margin-top: 15px;
	}

	&-list-item {
		@extend %list-item-circle;
	}
}

.contacts-info {
	@extend %section-border;

	&-img-wrapper {
		float: left;
		margin: 0 25px 10px 0;
	}

	&-title {
		font-weight: bold;
		margin-top: 0;
	}

	&-text {
		line-height: 160%;
	}
}