// ================================================================
// Imports
// ================================================================
@import "../libs/jquery.fancybox.scss";
@import "../common/variables.scss";
@import "../common/mixins/mixins.scss";
@import "../common/mixins/placeholders.scss";

// ================================================================
// Vars
// ================================================================

// ================================================================
// Portfolio page
// ================================================================
.portfolio {
	&-item {
		margin-bottom: 30px;
		min-height: 515px;
		max-width: 100%;
	}
}