// ================================================================
// Placeholders
// ================================================================
%box-grey {
	@include trans;
	background: $c-box-bg;
	border: 1px solid $c-box-border;
	padding: 20px 20px 10px;
}

%box-transparent {
	@include trans;
	border: 1px solid $c-box-border;
	padding: 20px 20px 10px;
}

%box-title {
	font-weight: bold;
	line-height: 150%;
	margin-top: 15px;
}

%link-green {
	border-bottom: 1px solid transparent;
	-webkit-transition: all 0.3s ease;
			transition: all 0.3s ease;

	&:hover {
		border-color: #3C948B;
		color: $c-blog-title;
		text-decoration: none;
	}
}

%list-flex {
	display: -webkit-flex;
	display: 		 flex;
	-webkit-flex-wrap: wrap;
			flex-wrap: wrap;
}

%list-flex-col {
	display: -webkit-flex;
	display: 		 flex;
}

%section-border {
	border-bottom: 1px solid $c-section-border;
	margin-bottom: 65px;
	padding-bottom: 60px;
}

%paragraph-line-height {
	line-height: 160%;
}

%title-border {
	display: inline-block;
	margin-bottom: 0;
	position: relative;

	&:after {
		background-color: $c-title-border;
		content: '';
		display: block;
		height: 3px;
		margin: 13px auto 15px;
	}
}

%list-item-circle {
	display: list-item;
	font-size: $f-size-base - 1;
	list-style: circle;
	margin: 0 0 0 20px;
	padding: 5px 0 0;
}