.sidebar-right.row
	.col-sm-6.col-lg-12
		.sidebar-article
			h2.sidebar-article-title
				| Команда Fidals

			p.sidebar-article-text
				| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis architecto tempora praesentium sunt obcaecati beatae id quo fugit deleniti expedita optio asperiores facilis aut odit necessitatibus, unde quod perferendis autem.
			p.sidebar-article-text
				| Excepturi eveniet quia nam quam quidem ratione aliquid fuga aspernatur enim facilis atque repellendus aperiam dicta, reprehenderit debitis accusamus delectus mollitia commodi dolorum itaque autem veritatis. Vero vitae dicta fugiat!

	.col-sm-6.col-lg-12
		.sidebar-tags
			h2.sidebar-article-title
				| Метки

			p
				a(class="sidebar-tag" href="#") HTML

			p
				a(class="sidebar-tag" href="#") JS

			p
				a(class="sidebar-tag" href="#") CSS

			p
				a(class="sidebar-tag" href="#") SASS

			p
				a(class="sidebar-tag" href="#") Symfony