extends ./index.jade

block vars
	- var title = "FidAls | Блоги";
	- var bodyClass = "blog";

block append styles
	link(rel="stylesheet", href="css/blog.css")

block content
	.container
		.text-title-wrapper
			h1.text-title Блоги

		.row
			.col-lg-8
				.blogs-wrapper
					.blog-item
						a(class="blog-item-link" href="#")
							| One API to rule all product data

						p.blog-item-text
							| Liip was approached by Migros, the largest retail company in Switzerland. Their challenge was that their product data is managed in several large enterprise systems and databases that are not suitable for real-time access.

						p.blog-item-text
							| Migros has various websites and a mobile application that all need to query data. Liip built the M-API, a Symfony application that gathers the data from the various systems, cleans it up and indexes it with Elasticsearch. This index can be queried in real time through a convenient REST API with JSON and XML output.

						p.blog-item-data.clearfix
							i(class="fa fa-calendar-check-o")
							span.blog-item-date 25.01.2016
							i(class="fa fa-commenting-o")
							span.blog-item-comments 1 Комментарий

							a(class="blog-item-btn-more btn btn-primary" href="./blog-inner.html") Подробнее

					.blog-item
						a(class="blog-item-link" href="#")
							| New in Symfony: Streamlined Log Files

						p.blog-item-text
							| If you have created a new Symfony project recently, you may have noticed a big change in the development log file. In the past, even the simplest page load generated tens of lines in the dev.log file. In the latest Symfony versions, by default only the important information is logged.

						p.blog-item-text
							| This image clearly shows the differences in the dev.log file created by the simple Welcome to Symfony page. In Symfony 2.7.7 it contained 63 lines, but in the Symfony 2.7.9 version it only contains 3 lines.

						p.blog-item-data.clearfix
							i(class="fa fa-calendar-check-o")
							span.blog-item-date 04.02.2016
							i(class="fa fa-commenting-o")
							span.blog-item-comments 15 Комментариев

							a(class="blog-item-btn-more btn btn-primary" href="./blog-inner.html") Подробнее

					.blog-item
						a(class="blog-item-link" href="#")
							| A week of symfony #471 (4-10 January 2016)

						p.blog-item-text
							| This week, Symfony continued with the mild development activity of the last weeks. The most significant changes were that FrameworkBundle now allows to autowire the service_container and that a bug related to assets version strategy was fixed.

						p.blog-item-data.clearfix
							i(class="fa fa-calendar-check-o")
							span.blog-item-date 04.10.2015
							i(class="fa fa-commenting-o")
							span.blog-item-comments 0 Комментариев

							a(class="blog-item-btn-more btn btn-primary" href="./blog-inner.html") Подробнее

			.col-lg-4
				include _sidebar-right.jade

block append scripts
	//- script(src='js/pages/blog.js')