extends ./index.jade

block vars
	- var title = "FidAls | Контакты";
	- var bodyClass = "contacts";
	- var selectedLink = 'Контакты';

block append styles
	link(rel="stylesheet", href="css/contacts.css")

block content
	.container
		.contacts-wrapper
			h1.prices-title.text-center Контакты
			.text-title-wrapper
				h2.text-title Адрес и телефоны

			.row
				.col-lg-9
					.contacts-map
						script(type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=yB5JvhXyVEvTvtPEQ_C2mJU0SlMF0sGM&lang=ru_RU&sourceType=constructor")

				.col-lg-3
					p.contacts-map-text
						| просп. Елизарова, 38А
						br
						br
					.contacts-phones
						a(class="contacts-phones-link" href="tel:+7 921 906-19-05")
							| +7 921 906-19-05
						p
							| Мария:
							| Работа с клиентами, любые вопросы

						a(class="contacts-phones-link" href="tel:+79216304357")
							| +7 921 630-43-57
						p
							| Андрей:
							| Руководитель команды

						//-
							a(class="contacts-phones-link" href="tel:+79210000000")
								| +7-921-000-00-00
							p
								| Лиза:
								| Менеджер проектов

		.office
			.text-title-wrapper
				h2.text-title Офис

			.row
				.col-md-4
					.office-item
						a(class="fancybox" rel="gallery1" href="/images/office/1.jpg" title="За этим столом мы обедаем каждую пятницу. Расслабляет")
							img(class="img-responsive" src="/images/office/1s.jpg")
						h4.office-item-title Стол с печеньками
						p.office-text
							| За этим столом мы обедаем каждую пятницу. Расслабляет

				.col-md-4
					.office-item
						a(class="fancybox" rel="gallery1" href="/images/office/2.jpg" title="У каждого члена команды такое рабочее место")
							img(class="img-responsive" src="/images/office/2s.jpg")
						h4.office-item-title Рабочее место
						p.office-text
							| У каждого члена команды такое рабочее место

				//-
					.col-md-4
						.office-item
							a(class="fancybox" rel="gallery1" href="/images/office/2.jpg" title="Morning Godafoss (Brads5)")
								img(class="img-responsive" src="/images/office/2s.jpg")
							h4.office-item-title Фото 3
							p.office-text
								| Fugiat aliquid, impedit rem animi, magnam porro quis laborum eius vel, ratione dicta quasi placeat dignissimos perspiciatis ducimus? Aspernatur voluptate atque molestias minus, culpa pariatur eius suscipit quae neque sed.

		.contacts-info
			.row
				.col-md-6
					.contacts-info-item.clearfix
						.contacts-info-img-wrapper
							img(class="img-responsive" src="/images/vacancy/4s.jpg")
						h3.contacts-info-title Вакансии
						p.contacts-info-text
							| У нас (да и не только) хронический дефицит программистов. Если ищешь команду на фуллтайм, с радостью познакомимся и обсудим условия работы у нас.
							| Для Прогеров мы делаем всё то же, что и другие компании:
							ul.contacts-info-list
								li.contacts-info-list-item
									| 20% рабочего времени мы прокачиваемся в технологиях
								li.contacts-info-list-item
									| Принципиально разные задачи и проекты - постоянный Challenge
								li.contacts-info-list-item
									| Поддерживаем дружескую атмосферу в тиме грязными HR-методами
								li.contacts-info-list-item
									| Офис со стандартными печеньками
								li.contacts-info-list-item
									| Чем занимаемся и примеры проектов ты можешь увидеть на главной.				
									
				.col-md-6
					.contacts-info-item.clearfix
						.contacts-info-img-wrapper
							img(class="img-responsive" src="/images/vacancy/6s.jpg")
						h3.contacts-info-title Бизнесу
						p.contacts-info-text
							| Мы решаем проблемы с приложениями, сайтами, бизнес-процессами и маркетингом. В России у 95% малых бизнесов полный провал по этим пунктам. С нами вы можете сосредоточиться на специфике бизнеса.

block append scripts
	script(src='js/libs/jquery.fancybox.js')
	script(src='js/pages/contacts.js')