extends ./index.jade

block vars
	- var title = "FidAls | Контакты";
	- var bodyClass = "contacts";

block append styles
	link(rel="stylesheet", href="css/contacts.css")

block content
	.container
		.contacts-wrapper
			h1.prices-title.text-center Контакты
			.text-title-wrapper
				h2.text-title Адрес и телефоны

			.row
				.col-lg-9
					.contacts-map
						script(type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=yB5JvhXyVEvTvtPEQ_C2mJU0SlMF0sGM&lang=ru_RU&sourceType=constructor")

					p.contacts-map-text
						| просп. Елизарова, 38, литера А

				.col-lg-3
					.contacts-phones
						a(class="contacts-phones-link" href="tel:+79210000000")
							| +7-921-000-00-00
						p
							| Андрей :
							| Руководитель команды

						a(class="contacts-phones-link" href="tel:+79210000000")
							| +7-921-000-00-00
						p
							| Мария:
							| Работа с клиентами, любые вопросы

						a(class="contacts-phones-link" href="tel:+79210000000")
							| +7-921-000-00-00
						p
							| Лиза :
							| Менеджер проектов

		.office
			.text-title-wrapper
				h2.text-title Офис

			.row
				.col-md-4
					.office-item
						a(class="fancybox" rel="gallery1" href="http://lorempixel.com/954/477/business" title=" Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum suscipit incidunt porro! Ratione repellat voluptate delectus nemo quae voluptas incidunt! Exercitationem magni debitis inventore blanditiis rerum. Perferendis est, corporis esse doloremque, architecto ab id placeat labore tenetur amet quidem aperiam beatae. Officia fugiat mollitia accusantium, aliquid alias repellendus nulla perspiciatis tenetur commodi assumenda quos vero quod laborum ut dicta beatae doloribus")
							img(class="img-responsive" src="http://lorempixel.com/318/159/business")
						h4.office-item-title Фото 1
						p.office-text
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo iste libero possimus cupiditate doloribus qui commodi distinctio porro debitis vel assumenda illo unde quod, sunt impedit natus, tempore mollitia error?

				.col-md-4
					.office-item
						a(class="fancybox" rel="gallery1" href="http://lorempixel.com/636/318/business" title="Morning Godafoss (Brads5)")
							img(class="img-responsive" src="http://lorempixel.com/318/159/business")
						h4.office-item-title Фото 2
						p.office-text
							| Modi commodi expedita voluptate rerum laboriosam. Est esse quos quod nisi, amet quibusdam iusto magnam natus commodi. Qui sit rem pariatur voluptatum tempore quasi reiciendis, dolore facilis, a ab distinctio.

				.col-md-4
					.office-item
						a(class="fancybox" rel="gallery1" href="http://lorempixel.com/477/238/business" title="Morning Godafoss (Brads5)")
							img(class="img-responsive" src="http://lorempixel.com/318/159/business")
						h4.office-item-title Фото 3
						p.office-text
							| Fugiat aliquid, impedit rem animi, magnam porro quis laborum eius vel, ratione dicta quasi placeat dignissimos perspiciatis ducimus? Aspernatur voluptate atque molestias minus, culpa pariatur eius suscipit quae neque sed.

		.contacts-info
			.row
				.col-md-6
					.contacts-info-item.clearfix
						.contacts-info-img-wrapper
							img(class="img-responsive" src="https://placeholdit.imgix.net/~text?txtsize=33&txt=250%C3%97150&w=250&h=150")
						h3.contacts-info-title Вакансии
						p.contacts-info-text
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur fugiat deleniti rem rerum veritatis. Unde ad, iste a repellat autem numquam voluptatum dolorum veniam. Qui rerum at ullam? Expedita, nostrum?
				.col-md-6
					.contacts-info-item.clearfix
						.contacts-info-img-wrapper
							img(class="img-responsive" src="https://placeholdit.imgix.net/~text?txtsize=33&txt=250%C3%97150&w=250&h=150")
						h3.contacts-info-title Бизнесу
						p.contacts-info-text
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad accusamus vero laboriosam eveniet facere hic, explicabo. Quia, officia quaerat quos obcaecati nisi expedita quod maxime facere ipsa iste aliquam praesentium.

block append scripts
	script(src='js/libs/jquery.fancybox.js')
	script(src='js/pages/contacts.js')