extends ./index.jade

block vars
	- var title = "FidAls | Портфолио";
	- var bodyClass = "portfolio";

block append styles
	link(rel="stylesheet", href="css/portfolio.css")

block content
	.container
		.portfolio
			.text-title-wrapper
				h2.portfolio-title.text-title.text-center Портфолио

			.row
				.col-sm-6.col-md-4
					.portfolio-item
						.portfolio-img-wrapper
							img(class="img-responsive img-center" src="http://lorempixel.com/513/301/abstract")
						h4.portfolio-item-title stroyprombeton
						ul.portfolio-list.list-unstyled
							li.portfolio-list-item Хоп
							li.portfolio-list-item Хэй
							li.portfolio-list-item Ла-ла
							li.portfolio-list-item Лэй

				.col-sm-6.col-md-4
					.portfolio-item
						.portfolio-img-wrapper
							img(class="img-responsive img-center" src="http://lorempixel.com/513/301/abstract")
						h4.portfolio-item-title Магазин элементов питания
						ul.portfolio-list.list-unstyled
							li.portfolio-list-item Питания
							li.portfolio-list-item Элементов
							li.portfolio-list-item Магазин

				.col-sm-6.col-md-4
					.portfolio-item
						.portfolio-img-wrapper
							img(class="img-responsive img-center" src="http://lorempixel.com/513/301/abstract")
						h4.portfolio-item-title Металл
						ul.portfolio-list.list-unstyled
							li.portfolio-list-item Рэп - это кал
							li.portfolio-list-item Слушай металл

				.col-sm-6.col-md-4
					.portfolio-item
						.portfolio-img-wrapper
							img(class="img-responsive img-center" src="http://lorempixel.com/513/301/abstract")
						h4.portfolio-item-title stroyprombeton
						ul.portfolio-list.list-unstyled
							li.portfolio-list-item Хоп
							li.portfolio-list-item Хэй
							li.portfolio-list-item Ла-ла
							li.portfolio-list-item Лэй

				.col-sm-6.col-md-4
					.portfolio-item
						.portfolio-img-wrapper
							img(class="img-responsive img-center" src="http://lorempixel.com/513/301/abstract")
						h4.portfolio-item-title Магазин элементов питания
						ul.portfolio-list.list-unstyled
							li.portfolio-list-item Питания
							li.portfolio-list-item Элементов
							li.portfolio-list-item Магазин

				.col-sm-6.col-md-4
					.portfolio-item
						.portfolio-img-wrapper
							img(class="img-responsive img-center" src="http://lorempixel.com/513/301/abstract")
						h4.portfolio-item-title Металл
						ul.portfolio-list.list-unstyled
							li.portfolio-list-item Рэп - это кал
							li.portfolio-list-item Слушай металл

block append scripts
	script(src='js/libs/jquery.fancybox.min.js')
	script(src='js/pages/contacts.js')